<div class="form-container">
    <h2 class="form-title">Create New Note</h2>
    <form>
        <label for="title">Title</label>
        <input 
            type="text" 
            id="title" 
            name="title" 
            [formControl]="note_title" 
            required 
            class="form-input"
        />

        <label for="content">Content</label>
        <textarea 
            id="content" 
            name="content" 
            [formControl]="note_content" 
            required 
            class="form-textarea">
        </textarea>

        <label for="category">Category</label>
        <input 
            type="text" 
            id="category" 
            name="category" 
            [formControl]="note_category" 
            required 
            class="form-input"
        />

        <div class="form-buttons">
            <a routerLink="/notes" class="form-button cancel-button">Cancel</a>
            <button class="form-button submit-button" (click)="onSubmit($event)">
                Add Note
            </button>
        </div>
    </form>
</div>
