<div class="container">
    <h2 class="title">Notes</h2>

    <a class="add-note-link" [routerLink]="['/notes/create']">
        ➕ Add New Note
    </a>

    <ul class="notes-list">
        @for (note of notes; track note.id) {
            <li class="note-item">
                <div class="note-text">
                    <div class="note-title">{{ note.title }}</div>
                    <div class="note-content">{{ note.content }}</div>
                </div>
            </li>
        }
    </ul>
</div>